.footer{
    background-color: black;
    padding-top: 2px;
    padding-bottom: 2px;
}

.icons{
    text-align: center;
}

.icons i {
    color:rgb(99, 110, 114);
    font-size: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    cursor: pointer;
}

.name{
    text-align: center;
}

.name i {
    color:rgb(99, 110, 114);
    font-size: 25px;
    padding-bottom: 8px;
}

.info{
    text-align: center;
}

.info p{
    padding-top: 8px;
    color: rgb(99, 110, 114);
    cursor: pointer;
}