.header{
    background-color: rgb(99, 110, 114);
    padding-top: 2px;
    padding-bottom: 2px;
}

.title{
    text-align: center;
    justify-content: center;
}

.title h1{
    font-size: 40px;
    display: inline;
    color:black;
}

.iconR{
    text-align: right;
    justify-content: center;
    padding-top: 8px;
}

.iconR i{
    color: rgb(178, 190, 195);
    font-size: 22px;
    margin-right: 15px;
    cursor: pointer;
}

.iconL{
    text-align: left;
    justify-content: center;
    padding-top: 8px;
}

.iconL i{
    color: rgb(178, 190, 195);
    font-size: 22px;
    margin-right: 15px;
    padding-left: 10px;
    cursor: pointer;
}
