.menuD{
    background-color: black;
}

.menuD button{
    font-size: 20px;
    background-color: black;
    color:white;
    border: none;
    cursor: pointer;
}

.row{
    background-color: black;
}