h2 {
    color:black;
    font-size: 19px;
    padding-left: 15px;
    margin: 10px;
}

.options i {
    font-size: 17px;
    color: black;
    padding-left: 40px;
    display: block;
    padding-top: 4px;
    cursor: pointer;
}