<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<div class="home">
    <h2>Home</h2>
</div>
<div class="reviews">
    <h2>Reviews</h2>
</div>
<div class="options">
    <h2>For you</h2>
    <i class="bi bi-gift"> Wishlist</i>
    <i class="bi bi-collection"> My library</i>
    <i class="bi bi-people-fill"> People you follow</i>
</div>
<div class="options">
    <h2>Top</h2>
    <i class="bi bi-trophy-fill"> Best of the year</i>
    <i class="bi bi-clipboard-data"> Popular of the week</i>
</div>
<div class="options">
    <h2>Plataforms</h2>
    <i class="bi bi-windows"> PC</i>
    <i class="bi bi-playstation"> Play Station 4</i>
    <i class="bi bi-xbox"> Xbox One</i>
    <i class="bi bi-arrow-down-square"> Show all</i>
</div>